 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

# Useful shortcuts
print(f'{}\n')

print(f'{DF.isnull()}\n')

print(f'{DF.isnull().sum()}\n')

print('\n---------Count non-null values---------')
print(DF.count())

print('\n---------Check for null values---------')
print(DF.isnull())

print('\n---------Count null values---------')
print(DF.isnull().sum())

print('\n---------Percentage of nulls---------')
print(DF.isnull().sum() / len(DF) * 100)

print('\n---------Determine existence of duplicate rows---------')
print(DF.duplicated())

pd.concat #combine CSVs

weights = [1/3, 1/3, 1/3]

returns = DF.dot(weights)

daily returns = DF.pct_change()

.std() # standard deviation

.plot(figsize=(20,10)) # plot to graph

sharpe_ratios.plot(kind='bar', title='Sharpe Ratios')

.np.sqrt(252) # number of trading days

.corr() # calculates correlation

corrDF.style.background_gradient(cmap="summer") # displays correlation as a table

covariance = all_portfolios.roll(window=60).cov(all_portfolios['SP 500']) # covariance

variance

ewm # exponentially weighted average


## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [2]:
# Reading whale returns
whalePath = Path('../Resources/whale_returns.csv')
whaleDF = pd.read_csv(whalePath, index_col="Date", infer_datetime_format=True,parse_dates=True)

whaleDF

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [3]:
# Count nulls
'''
print('---------Count non-null values---------')
print(whaleDF.count())
print('\n---------Check for null values---------')
print(whaleDF.isnull())
print('\n---------Count null values---------')
print(whaleDF.isnull().sum())
print('\n---------Percentage of nulls---------')
print(whaleDF.isnull().sum() / len(whaleDF) * 100)
print('\n---------Determine existence of duplicate rows---------')
print(whaleDF.duplicated())
'''

whaleDF.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [4]:
# Drop nulls
whaleDF.dropna(inplace=True)
print(whaleDF.isnull().sum())
whaleDF

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [5]:
# Reading algorithmic returns
algoPath = Path('../Resources/algo_returns.csv')
algoDF = pd.read_csv(algoPath, index_col="Date", infer_datetime_format=True,parse_dates=True)

algoDF.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [6]:
# Count nulls
'''
print('---------Count non-null values---------')
print(algoDF.count())
print('\n---------Check for null values---------')
print(algoDF.isnull())
print('\n---------Count null values---------')
print(algoDF.isnull().sum())
print('\n---------Percentage of nulls---------')
print(algoDF.isnull().sum() / len(algoDF) * 100)
print('\n---------Determine existence of duplicate rows---------')
print(algoDF.duplicated())
'''

algoDF.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [7]:
# Drop nulls
algoDF.dropna(inplace=True)
print(algoDF.isnull().sum())
algoDF

Algo 1    0
Algo 2    0
dtype: int64

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1235 rows x 2 columns]

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [8]:
# Reading S&P 500 Closing Prices
sp500Path = Path('../Resources/sp500_history.csv')
sp500DF = pd.read_csv(sp500Path, index_col="Date", infer_datetime_format=True,parse_dates=True)

sp500DF

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06
...              ...
2012-10-05  $1460.93
2012-10-04  $1461.40
2012-10-03  $1450.99
2012-10-02  $1445.75
2012-10-01  $1444.49

[1649 rows x 1 columns]

In [61]:
# Check Data Types
print(sp500DF['Close'].value_counts())
sp500DF.dtypes

$1920.03    2
$2066.66    2
$2268.90    2
$2373.47    2
$2115.48    2
           ..
$1930.11    1
$2767.13    1
$2723.07    1
$2089.14    1
$2124.20    1
Name: Close, Length: 1639, dtype: int64

Close    object
dtype: object

In [10]:
# Fix Data Types

sp500DF.dtypes

Close    object
dtype: object

In [11]:
# Calculate Daily Returns

In [12]:
# Drop nulls
print(f'{sp500DF.isnull().sum()}\n')

Close    0
dtype: int64

In [13]:
# Rename `Close` Column to be specific to this portfolio.

## Combine Whale, Algorithmic, and S&P 500 Returns

In [14]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [15]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [16]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [17]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [18]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [19]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [20]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [21]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [22]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [23]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half-life.

In [24]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [25]:
# Annualized Sharpe Ratios

In [26]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

For this demo solution, we fetch data from three companies listes in the S&P 500 index.

* `GOOG` - [Google, LLC](https://en.wikipedia.org/wiki/Google)

* `AAPL` - [Apple Inc.](https://en.wikipedia.org/wiki/Apple_Inc.)

* `COST` - [Costco Wholesale Corporation](https://en.wikipedia.org/wiki/Costco)

In [27]:
# Reading data from 1st stock: GOOG
googPath = Path('../Resources/goog_historical.csv')
googDF = pd.read_csv(googPath)

print(f'{googDF.head()}\n')

  Symbol Trade DATE     NOCP
0   GOOG   5/9/2019  1162.38
1   GOOG   5/8/2019  1166.27
2   GOOG   5/7/2019  1174.10
3   GOOG   5/6/2019  1189.39
4   GOOG   5/3/2019  1185.40

In [28]:
# Reading data from 2nd stock: AAPL
aaplPath = Path('../Resources/aapl_historical.csv')
aaplDF = pd.read_csv(aaplPath)

print(f'{aaplDF.head()}\n')

  Symbol Trade DATE    NOCP
0   AAPL   5/9/2019  200.72
1   AAPL   5/8/2019  202.90
2   AAPL   5/7/2019  202.86
3   AAPL   5/6/2019  208.48
4   AAPL   5/3/2019  211.75

In [29]:
# Reading data from 3rd stock: COST
costPath = Path('../Resources/cost_historical.csv')
costDF = pd.read_csv(costPath)

print(f'{costDF.head()}\n')

  Symbol Trade DATE    NOCP
0   COST   5/9/2019  243.47
1   COST   5/8/2019  241.34
2   COST   5/7/2019  240.18
3   COST   5/6/2019  244.23
4   COST   5/3/2019  244.62

In [30]:
# Combine all stocks in a single DataFrame

In [31]:
# Reset Date index

In [32]:
# Reorganize portfolio data by having a column per symbol

In [33]:
# Calculate daily returns

# Drop NAs
print(f'{aaplDF.isnull().sum()}\n')
print(f'{costDF.isnull().sum()}\n')
print(f'{googDF.isnull().sum()}\n')

# Display sample data

Symbol        0
Trade DATE    0
NOCP          0
dtype: int64

Symbol        0
Trade DATE    0
NOCP          0
dtype: int64

Symbol        0
Trade DATE    0
NOCP          0
dtype: int64

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [34]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [35]:
# Join your returns DataFrame to the original returns DataFrame

In [36]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [37]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [38]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [39]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [40]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [41]:
# Calculate Annualzied Sharpe Ratios

In [42]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!